# Server
PORT=8080
NODE_ENV=development

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5433/urban_planning
# Set to true to enable SSL in cloud DBs
PGSSLMODE=disable

# Google Elevation API
GOOGLE_MAPS_API_KEY=your_api_key_here

# Rate limiting (optional)
RATE_LIMIT_WINDOW=900000
RATE_LIMIT_MAX=200
